<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/dojo_survey.css') }}">
</head>
<body>
    <div class="container">
        <form action="/process" method="post">
            <label for="name">Your name:</label>
            <input type="text" name="name" id="name" required>

            <label for="dojo_location">Dojo location:</label>
            <select name="dojo_location" id="dojo_location" required>
                <option value="San Jose">San Jose</option>
                <option value="New York">New York</option>
                <option value="Seattle">Seattle</option>
            </select>

            <label for="favorite_language">Favorite Languages:</label>
            <select name="favorite_language" id="favorite_language" required>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="JavaScript">JavaScript</option>
            </select>

            <label for="comment">Comment (optional):</label>
            <br>
            <textarea name="comment" id="comment"></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>