body{
    width:80%;
    margin: 5%;
}

.left_part{
    padding-right: 5%;
}
.right_part{
    width:10%;
    margin-right: 20%;
    margin-bottom: 3%;
    padding: 0.5% 2%;
}

#button{
    padding:0.5%;
    margin-left: 10%;
    margin-bottom:5%;

}

a{
    font-size: 20px;
}
