<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
</head>
<body>
    <div class="box_left">
        <h2 class="left_title">New User</h2>
        <form action="/users/create_user" method="post">
            <label for="name">Name: </label>
            <input type="text">
            <br>
            <input id="button" type="submit" value="Add">
        </form>
        <a href="/books">Add Book</a>
    </div>
    <div class="box_right">
        <h2>All Users</h2>
        <div class="box">
            {% for user in all_users %}
                <a id="user_name" href="/users/{{ user.id }}"><p>{{ user.name }}</p></a>
            {% endfor %}
        </div>
    </div>
</body>
</html>