<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="left_container">
        <h2>Register</h2>
        
        <form action="/register" method="post">
            {% with messages = get_flashed_messages(category_filter=['register']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <label for="first_name">First Name: </label>
            <br>
            <input class="form-control" type="text" name="first_name" id="first_name">
            <br>
            <label for="last_name">Last Name: </label>
            <br>
            <input type="text" name="last_name" id="last_name">
            <br>
            <label for="email">Email: </label>
            <br>
            <input type="email" name="email" id="email">
            <br>
            <label for="password">Password: </label>
            <br>
            <input type="password" name="password" id="password">
            <br>
            <label for="confirm_password">Confirm Password: </label>
            <br>
            <input type="password" name="confirm_password" id="confirm_password">
            <br>
            <input class="button" type="submit" value="Register">
        </form>
    </div>
    <div class="right_container">
        <h2>Login</h2>
           
        <form action="/login" method="post">
            {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <label for="email">Email: </label>
            <br>
            <input type="email" name="email" id="email">
            <br>
            <label for="password">Password: </label>
            <br>
            <input type="password" name="password" id="password">
            <br>
            <input class="button" type="submit" value="Login">
        </form>
    </div>
</body>
</html>
