<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/show.css') }}">
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at }}</td>
                <td>
                    <a href="/user/{{ user.id }}">Show |</a>
                    <a href="/user/{{ user.id }}/edit">Edit |</a>
                    <a href="/user/{{ user.id }}/delete" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a id="add_new_user" href="/">Add a New User</a>
</body>
</html>