body{
    width:80%;
    padding: 2% 5%;
}
.top{
    display:flex;
    align-items: center;
}
.top h1{
    width:30%;
}
.top a{
    width:70%;
}

form{
    width:90%;
}

input{
    margin-bottom: 3%;
    padding-right: 0%;
}

#button{
    margin-left: 25%;
    padding: 0.5% 2%;
}