
*{
    margin: 0px;
    padding: 10px 0px;

}
.containner{
    width:7%;
    height: 5%;
    border:solid;
    padding-left: 1%;
}

.top{
    padding-left: 4%;
    display: flex;
    align-items: center;
    gap:2%
}

.main{
    display: flex;
    justify-content: space-evenly;

}

.place{
    width:20%;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h3{
    font-size: smaller;
}

input{
    padding: 5px 2px;
}

h4{
    padding-left: 4%;
}

ul{
    width:92%;
    border:solid;
    margin-left: 4%;
}

li{
    margin-left: 3%;
    padding: 5px 0px;
}
.positive{
    color: green;
}
.negative{
    color:red;
}

.result{
    padding-top: 2%;
    padding-left: 4%; 
}


.ending{
    padding-right: 4%;
    width:96%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
