body{
width:50%;
}

h1{
    width:50%;
    margin-left: 5%;
}

#home{
    width:50%;
    font-size: larger;
}

.form{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

input{
    width:30%;
    margin: 2% 0% 2%;
    padding: 0.5%;
}

button{
    width:15%;
    margin-top: 2%;
    padding: 1%;
}

.top{
    display: flex;
    align-items: center;
}