<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/edit.css')}}">
    <title>Edit_Sighting</title>
</head>
<body>
    <div class="top">
        <h1>Sasquatch Websightings</h1>
        <p><strong>{{ user_in_db.first_name }}</strong></p>
    </div>
    <div class="middle">
        <h3>Edit This Sighting</h3>
        <div class="link">
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <form action="/sightings/edit/{{ sighting_id }}/process" method="post">
        <label for="">Location: </label>
        <input type="text" name="location" required>
        <label for="">Date of Sighting: </label>
        <input type="date" name="date_of_sighting" required>
        <label for="">Number of Sasquatch: </label>
        <input type="number" name="number_of_sasquatch" required>
        <label for="">What Happened: </label>
        <textarea name="what_happened" id="what_happened" required cols="21" rows="10"></textarea>
        <input type="submit" name="submit" id="submit" value="Report">
    </form>
</body>
</html>