<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/view.css')}}">
    <title>Sighting_View</title>
</head>
<body>
    <div class="top">
        <h1>Sasquatch Websightings</h1>
        <p><strong>{{ user_in_db.first_name }}</strong></p>
    </div>
    <div class="middle">
        <h3>{{ sightings.location}} on {{ sightings.date_of_sighting }}</h3>
        <div class="link">
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="bottom">
        <p>What Happened:</p>
        <p>{{ sightings.what_happened}}</p>
        <p>Number of Sasquatches: {{ sightings.number_of_sasquatch }}</p>
        <p><strong>Reported By: {{ sightings.user_name }}</strong></p>
    </div>
</body>
</html>