.top {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 3%;
}

.middle{
    width: 80%;
    display: flex;
    align-items: center;
    margin: 2% 3%;
    justify-content: space-between;
}
form{
    width: 50%;
}

textarea{
    margin: 2% 6%;
}


label, input{
    width:25%;
    display: inline-block;
    margin: 2% 6%;
}